* { box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; 
}
body { 
    margin: 0;
    width: 100%;
}

.contenedor{
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 100%;
    background-color:rgb(144, 235, 116);
    display: flex;
    flex-wrap: wrap;
}

.infocontenedor{
    text-align: center;
    width: 33%;
    padding: 20px;
}

.infocontenedor img{
    height: 150px;
}

.tituloinfo {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
}

.boton {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.boton:hover {
    background-color: #7e7e7e;
    font-size : 20px;
}

.carrousel {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: rgb(199, 198, 198);
}

h1 {
    text-align: center;
    font-family: 'Kaushan Script', sans-serif;
    font-size: 50px;
}

.colaboraciones {
    background-color: white;
    text-align: center;
    padding: 50px;
    
}

h2 {
    font-size: 53px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.colaboradores {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    padding-left: 300px;
    padding-right: 300px;
}

.colaboradores img{
    align-content: center;
    width: 50%;
    padding: 20px;
}

.contacta {
    width:100%;
}

.infocontacto {
    padding-left: 20px;
    width: 50%;
    align-content: center;
}

.contenedor3 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 50%;
    padding: 50px;
}

.formulario {
    width: 100%;
    padding: 25px;
    border-radius: 10px;
    background: #f8f9fa;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.titulo2 {
    text-align: center;
    margin-bottom: 20px;
}

.campo {
    margin-bottom: 15px;
}

.etiqueta {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


.entrada {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

p {
    font-family:Georgia, 'Times New Roman', Times, serif;
}